{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'coloring/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/css/new_interaction.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	

</head>
<body>
	<div id="top_ui">  
		<span class="top_ui_tool draggable_tool ui_tool_margin" id="undo" onclick=""> 
			 <i class="bi bi-arrow-left"></i> <div style="font-size: 15px;">&nbsp;&nbsp;  Undo </div> </span>
		
		<span class="top_ui_tool draggable_tool ui_tool_margin" id="redo" onclick="">
			 <i class="bi bi-arrow-right"></i> <div style="font-size: 15px;"> &nbsp;&nbsp; Redo </div> </span>

		<span class="top_ui_tool draggable_tool ui_tool_margin" id="grid" onclick=""> 
			<i class="bi bi-grid-3x3"></i> <div style="font-size: 15px;"> Grid Toggle </div> </span>

		<span class="top_ui_tool draggable_tool ui_tool_margin" id="rotate-left" onclick=""> 
			 <i class="bi bi-arrow-counterclockwise"></i> <div style="font-size: 15px;">&nbsp;&nbsp; Rotate </div>  </span>
			
		<span class="top_ui_tool draggable_tool ui_tool_margin" id="rotate-right" onclick=""> 
			<i class="bi bi-arrow-clockwise"></i> <div style="font-size: 15px;">&nbsp;&nbsp;  Rotate </div> </span>

		<span class="top_ui_tool draggable_tool ui_tool_margin" id="trash" onclick="trashcan();">
			&nbsp;&nbsp;&nbsp;<i class="bi bi-trash"></i> <div style="font-size: 15px;"> Quickslot Trashcan Toggle</div> </span>




	</div>

	<canvas id="myCanvas" width="750px" height="750px"></canvas>

	<div id="bottom_ui">  
		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="pencil" onclick="highlight(this, 'pencil');"> 
			<i class="bi bi-pencil" id="pencil_icon"></i><div style="font-size: 15px;">&nbsp;&nbsp;  Pencil </div></span>

		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="erase" onclick="highlight(this, 'erase');"> 
			<i class="bi bi-eraser-fill" id="erase_icon"></i><div style="font-size: 15px;">&nbsp;&nbsp;  Eraser </div></span>

		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="fill" onclick="highlight(this, 'fill');"> 
			&nbsp;<i class="bi bi-paint-bucket"></i><div style="font-size: 15px;">   Paint Bucket </div> </span>

		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="palette" onclick="showPalette();"> 
			<i class="bi bi-palette"></i> <div style="font-size: 15px;"> Palette Toggle </div> </span>

		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="hand" onclick=""> 
			<i class="fa fa-hand-paper-o" aria-hidden="true"></i> <div style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Drag </div> </span>
			
		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="zoom" onclick=""> 
			<i class="bi bi-zoom-in"></i> <div style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Zoom </div></span>
			
	</div>

	<div id="drag_ui" style="border:3px solid black;"> 
		<div class="qs_ui" id="drag_icon"> <i style="height:30px;width:99px;" class="bi bi-grip-horizontal" ></i> </div>
		<div class="qs_ui" id="drag_info" style="font-size:10px;height:20px;background-color:skyblue"> Click tool to use</div>
		<div class="qs_ui" id="qs_tools" style="height:40px;"> </div>
		<div class="qs_ui" id="collaspe" style="height:20px;"> <i class="bi bi-chevron-compact-up"></i> </div>
		<div class="qs_ui" id="expand" style="height:20px;"> <i class="bi bi-chevron-compact-down"></i> </div>
	</div>

	<div id="color-palette"></div>
 
	<div id="opacity">
		Please enter a value between 1 to 13 to see more shades. 1 to 9 for palette A, and 10 to 13 for palette B.
		<input type="number" id="opVal" min="1" max="13"/> <button onclick="palette_Opacity(document.getElementById('opVal').value)"> Enter </button>
	</div>
	
</body>

<script type="text/javascript" canvas="canvas" > 
	// THIS IS FOR THE PAINT-BUCKET
	// Maybe make a "current tool" var that tells you what tool you're on
	// so it can help do the right checks to trigger the right interactions


	// Current color
	var cur_Color = 'black';

	// Tool variable
	var cur_Tool = "pencil";

	// number of tools in quickslot
	var numqsTools = 0;

	var bottomTools = ["pencil", "erase", "fill", "palette", "hand", "zoom"];

	var canvas = document.getElementById('myCanvas');

	var trash_mode = false;
	
	// coloring page
	var mandala = {
		item: null,
		lastClicked: null,
		filePath: '/static/coloring/images/mandala-freepik.svg'
	};

	// color palette
	var cp = {
		history: ["#000000"], // black selected by default
		options: [],
		$container: $('#color-palette')
	}


// Got the regex from https://stackoverflow.com/questions/10970958/get-a-color-component-from-an-rgb-string-in-javascript

	function getColor(c) {
		if (c === "#000000") {
			//console.log('blac');
			return 'black';
		} else {
			var hex = "#";
			var rgb = c.match(/\d+/g);
    		//console.log(rgb);  
			for (let i = 0; i < 3; i++) {
				//convert rgb[i] to hex;
				let myNum = parseInt(rgb[i]);
				let hexNum = myNum.toString(16);
				hex = hex + hexNum;
				//console.log(hexNum);
			}
			//console.log(hex);

			return hex;
		}
	}

	
	
	function myCustomInteraction() {
		var tool = new paper.Tool();
		var myPath;
		// myPath.strokeColor = getColor(cp.history[cp.history.length - 1]); // create var cur_color
		// If mouse drag and have pencil we can draw

		//console.log(historyString);
		tool.onMouseDrag = function (event) {
			if (cur_Tool === "pencil") {
				//var myPath = new paper.Path();
				myPath.strokeColor = cur_Color;
				myPath.add(event.point);
			}

			if (cur_Tool === "erase") {
				var myCircle = new paper.Path.Circle({
					center: event.point,
					radius: 3
				});
				myCircle.fillColor = 'white';
				myPath.add(myCircle);
			}
		}


		// If mouse click and have fill we can draw
		tool.onMouseDown = function (event) {
			myPath = new paper.Path();
			if (cur_Tool === "fill") {
				var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				if (hit) {
						// Color pallette keeps track of the full history of colors, though we
						// only color in with the most-recent color.
					hit.item.fillColor = cur_Color;
				}
			} 
			if (cur_Tool === "pencil") {
				myPath.strokeColor = cur_Color;		
			}
		}
	}

	// create a color palette with the given colors
	function createColorPalette(colors){

		// create a swatch for each color
		for (var i = colors.length - 1; i >= 0; i--) {
			var $swatch = $("<div>").css("background-color", colors[i])
							.addClass("swatch");
			$swatch.click(function(){
				// add color to the color palette history
				cp.history.push($(this).css("background-color"));
				document.getElementById("pencil").style.color = $(this).css("background-color");
				document.getElementById("fill").style.color = $(this).css("background-color");
				//console.log(document.getElementById("#pencil").style.color);
				cur_Color = $(this).css("background-color");
			});
			cp.$container.append($swatch);
		}
	}

	// loads a set of colors from a json to create a color palette
	function getColorsCreatePalette(){
		cp.$container.html(" ");
		$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
			var keys = Object.keys(colors);
			for (var i = keys.length - 1; i >= 0; i--) {
				cp.options.push(colors[keys[i]][500]);
			}
			createColorPalette(cp.options);
		});
	}
	
	opacities = ['50', '100', '200', '300', '400', '500', '600', '700', '800', '900', 'a100', 'a200', 'a400', 'a700'];
	// allows user to toggle the opacity of the palette
	function palette_Opacity(opacity){
		
		cp.options = [];
		cp.$container.html(" ");
		$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
			var keys = Object.keys(colors);
			for (var i = keys.length - 1; i >= 0; i--) {
				cp.options.push(colors[keys[i]][opacities[opacity]]);
			}
			createColorPalette(cp.options);
		});
	}	


	

	function init(custom){
		paper.setup(canvas);
		getColorsCreatePalette();

		paper.project.importSVG(mandala.filePath, function(item) {
			mandala.item = item._children["design-freepik"];

			mandala.item = mandala.item.scale(0.65);
			mandala.item.position.x += 110;
			mandala.item.position.y -= 110;

			paper.project.insertLayer(0,mandala.item);

			if (custom) {
				myCustomInteraction();
			} else {
				myGradientInteraction();
			}

		});
	}

	// Set up the mandala interactivity.
	init(true);


	function trashcan() {
		var info = document.getElementById('drag_info');
		if (trash_mode === true) {
			trash_mode = false;
			document.getElementById('trash').style.outline = "none";
			info.innerHTML = 'Click tool to use';
			info.style.backgroundColor = 'skyblue';
			return trash_mode;
		} else {
			trash_mode = true;
			document.getElementById('trash').style.outline = "5px solid red";
			info.innerHTML = 'Click tool to remove';
			info.style.backgroundColor = 'red';
			return trash_mode;
		}
	}
	
	// highlights the tool you clicked on
	function highlight(u, botTool) {
		//console.log("trash mode is " + trash_mode);
		if (trash_mode) {
			if (u.classList.contains("can_drag")) {
				//console.log("hi");
				$(u).remove();
				numqsTools = numqsTools - 1;
				resize_qs();
			}
			return;
		}

		for (let i = 0; i < bottomTools.length; i++) {
			var t = document.getElementById(bottomTools[i]);
			t.style.outline = "";
		}
		var qs = document.getElementsByClassName("can_drag");
		for (let i = 0; i < qs.length; i++) {
			qs[i].style.outline = "";
		}

		u.style.outline = "5px solid red";

		cur_Tool = botTool;
		if (botTool === 'pencil' || botTool === 'fill') {
			cur_Color = u.style.color;
		}
	}


	//remove things from the toolbar
	function drag_ui_remove () {
		$("#qs_tools").delete("[the item you want to delete]")
	}



	// initalizes quickslot after page loads
	function init_qs() {
		var t = document.getElementById("pencil");
		h = t.clientWidth;
		w = t.clientWidth;
		var qs_tool = document.getElementById("qs_tools");
		qs_tool.style.height = h + "px";
		qs_tool.style.width = 99 + "px";
		//qs_tool.style.border = "3px solid black";
		document.getElementById("drag_ui").style.width = 99 + "px";

		var q = document.getElementsByClassName("qs_ui");
		for (let i = 0; i < q.length; i++) {
			q[i].style.width = 99 + "px";
		}
	}

	function showPalette() {
		if ($("#color-palette").is(":visible")) {
			$("#color-palette").hide();
			$("#opacity").hide();
		} else {
			$("#color-palette").show();
			$("#opacity").show();
		}
	}

	// collaspes quick slot ui



	
	// resizes the quickslot when you add or remove items
	function resize_qs() {
		if (numqsTools < 1) {
			numqsTools = 1;
		}
		t = document.getElementById("pencil");
		h = t.clientHeight * numqsTools;
		w = t.clientHeight;
		document.getElementById("qs_tools").style.height = h + "px";
		document.getElementById("drag_ui").style.width = w + "px";
		var q = document.getElementsByClassName("qs_ui");
		for (let i = 0; i < q.length; i++) {

			q[i].style.width = w + "px";
		}
	}

	

	// The other icon functionalities things should be implemented after
	$(document).ready(function() {
		// inits
		$("#expand").hide();
		$("#color-palette").hide();
		$("#opacity").hide();

		// collaspes quick slot ui
		$("#collaspe").click(function() {
			$("#qs_tools").hide();
			$("#expand").show();
			$("#collaspe").hide();
		});

		// expands quickslot ui
		$("#expand").click(function() {
			$("#qs_tools").show();
			$("#expand").hide();
			$("#collaspe").show();
		});

		// allows for dragging quickslot ui
		$("#drag_icon").mousedown(function() {
			$("#drag_ui").draggable({
				revert: "invalid"
			});
		});


		$("#myCanvas").droppable({
			accept: "#drag_ui"
		});

		// allows for dragging tools into the quickslot
		$(".draggable_tool").draggable({
			helper: "clone"
		});

		$(".can_drag").draggable({
			revert: "invalid"
		});

		$("#qs_tools").droppable({
			accept: ".draggable_tool",
			drop: function(event, ui) {
				let toolcopy = $(ui.draggable).clone();
				toolcopy.css('margin-left', '0px');
				toolcopy.css('margin-right', '0px');
				toolcopy.css('outline', 'none');
				toolcopy.addClass("can_drag");

				toolcopy.remove(".draggable_tool");
				toolcopy.find('div').remove();
				toolcopy.append('<br>');
				
				$(this).append(toolcopy);
				numqsTools = numqsTools + 1;
				resize_qs();
			}
		});

	});

	init_qs();

</script>

</html>
