{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'coloring/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/css/new_interaction.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	

</head>
<body>
	<div id="top_ui">  
		<span class="top_ui_tool ui_tool_margin" id="undo" onclick=" undo_draw();"> 
			 <i class="bi bi-arrow-left"></i> <div style="font-size: 15px;">  Undo Pencil </div> </span>
		
		<span class="top_ui_tool ui_tool_margin" id="redo" onclick="redo_draw();">
			 <i class="bi bi-arrow-right"></i> <div style="font-size: 15px;">  Redo Pencil </div> </span>

		<span class="top_ui_tool ui_tool_margin" id="rotate-left" onclick="rotate_Left();"> 
			 <i class="bi bi-arrow-counterclockwise"></i> <div style="font-size: 15px;">&nbsp;&nbsp; Rotate </div>  </span>
			
		<span class="top_ui_tool ui_tool_margin" id="rotate-right" onclick="rotate_Right();"> 
			<i class="bi bi-arrow-clockwise"></i> <div style="font-size: 15px;">&nbsp;&nbsp;  Rotate </div> </span>

		<span class="top_ui_tool ui_tool_margin" id="trash" onclick="trashcan();">
			&nbsp;&nbsp;&nbsp;<i class="bi bi-trash"></i> <div style="font-size: 15px;"> Quickslot Trashcan Toggle</div> </span>
	</div>

	<canvas id="myCanvas"></canvas>

	<div id="bottom_ui">  
		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="pencil" onclick="highlight(this, 'pencil');"> 
			<i class="bi bi-pencil" id="pencil_icon"></i><div style="font-size: 15px;">&nbsp;&nbsp;  Pencil </div></span>

		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="erase" onclick="highlight(this, 'erase');"> 
			<i class="bi bi-eraser-fill" id="erase_icon"></i><div style="font-size: 15px;">&nbsp;&nbsp;  Eraser </div></span>

		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="fill" onclick="highlight(this, 'fill');"> 
			&nbsp;<i class="bi bi-paint-bucket"></i><div style="font-size: 15px;">   Paint Bucket </div> </span>

		<span class="bottom_ui_tool ui_tool_margin" id="palette" onclick="showPalette();"> 
			<i class="bi bi-palette"></i> <div id="palette_view" style="font-size: 15px;"> Show Palette </div> </span>

		<span class="bottom_ui_tool ui_tool_margin" id="hand" onclick="drag_on();highlight(this, 'drag');"> 
			<i class="fa fa-hand-paper-o" aria-hidden="true"></i> <div style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Drag </div> </span>
			
		<span class="bottom_ui_tool ui_tool_margin" id="zoom"> 
			<span onclick="zoomIn();"><i class="bi bi-zoom-in"></i> </span> <span onclick="zoomOut();"><i class="bi bi-zoom-out"> </i> </span>
			<div style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Zoom </div></span>	
	</div>

	<div id="drag_ui" style="border:3px solid black;"> 
		<div class="qs_ui" id="drag_icon"> <i style="height:30px;width:99px;" class="bi bi-grip-horizontal" ></i> </div>
		<div class="qs_ui" id="drag_info" style="font-size:10px;height:38px;background-color:skyblue"> Drag pencil, eraser, or bucket here to save to use</div>
		<div class="qs_ui" id="qs_tools" style="height:40px;"> </div>
		<div class="qs_ui" id="collaspe" style="height:20px;"> <i class="bi bi-chevron-compact-up"></i> </div>
		<div class="qs_ui" id="expand" style="height:20px;"> <i class="bi bi-chevron-compact-down"></i> </div>
	</div>
	
	<div id='palette_box' style="position: absolute; left: 55%; top: 20%; text-align:center; color: white;"> 
		Please select a color. Click the palette again to hide me.
		<div id="color-palette">  </div> 
	</div>
	
</body>

<script type="text/javascript" canvas="canvas" > 

	// array of paths
	var my_paths_list = [];

	// array of redo paths
	var my_redo_list = [];

	// global var of image
	var the_image;

	// current color
	var cur_Color = 'black';

	// tool variable
	var cur_Tool = "pencil";

	// number of tools in the quickslot
	var numqsTools = 0;

	// list of tools on the bottom menu that get highlighted
	var bottomTools = ["pencil", "erase", "fill", "hand"];

	// global variable of the canvas
	var canvas = document.getElementById('myCanvas');

	// enables throwing away quickslot tools
	var trash_mode = false;

	// enables dragging canvas
	var drag_mode = 'disable';

	// the different shades of colors
	shades = ['50', '100', '200', '300', '400', '500', '600', '700', '800', '900', 'a100', 'a200', 'a400', 'a700'];
	
	// coloring page
	var mandala = {
		item: null,
		lastClicked: null,
		filePath: '/static/coloring/images/mandala-freepik.svg'
	};

	// color palette
	var cp = {
		history: ["#000000"], // black selected by default
		options: [],
		$container: $('#color-palette')
	}

// got the regex from https://stackoverflow.com/questions/10970958/get-a-color-component-from-an-rgb-string-in-javascript
	function getColor(c) {
		if (c === "#000000") {
			//console.log('blac');
			return 'black';
		} else {
			var hex = "#";
			var rgb = c.match(/\d+/g);
			for (let i = 0; i < 3; i++) {
				let myNum = parseInt(rgb[i]);
				let hexNum = myNum.toString(16);
				hex = hex + hexNum;
			}
			return hex;
		}
	}

	
	function myCustomInteraction() {
		var tool = new paper.Tool();
		var myPath;

		tool.onMouseDrag = function (event) {
			if (cur_Tool === "pencil") {
				myPath.strokeColor = cur_Color;
				myPath.add(event.point);
			}

			if (cur_Tool === "erase") {
				var myCircle = new paper.Path.Circle({
					center: event.point,
					radius: 12
				});
				myCircle.fillColor = 'white';
				myPath.add(myCircle);
			}
		}


		// if mouse click and have fill we can draw
		tool.onMouseDown = function (event) {
			myPath = new paper.Path();
			my_paths_list.push(myPath);
			console.log(my_paths_list);
			if (cur_Tool === "fill") {
				var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				if (hit) {
						// Color pallette keeps track of the full history of colors, though we
						// Only color in with the most-recent color.
					hit.item.fillColor = cur_Color;
				}
			} 
			if (cur_Tool === "pencil") {
				myPath.strokeColor = cur_Color;		
			}
		}
	}

	// create a color palette with the given colors
	function createColorPalette(colors){

		// create a swatch for each color
		for (var i = colors.length - 1; i >= 0; i--) {
			var $swatch = $("<div>").css("background-color", colors[i])
							.addClass("swatch");
			$swatch.click(function(){
				// Add color to the color palette history
				cp.history.push($(this).css("background-color"));
				document.getElementById("pencil").style.color = $(this).css("background-color");
				document.getElementById("fill").style.color = $(this).css("background-color");
				cur_Color = $(this).css("background-color");
			});
			cp.$container.append($swatch);
		}
	}

	// loads a set of colors from a json to create a color palette
	function getColorsCreatePalette(){
		cp.$container.html(" ");
		$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
			var keys = Object.keys(colors);
			for (var i = keys.length - 1; i >= 0; i--) {
				for (let j = 0; j < shades.length; j++) {
					cp.options.push(colors[keys[i]][shades[j]]);
				}
			}
			createColorPalette(cp.options);
		});
	}
		
	function init(custom){
		paper.setup(canvas);
		getColorsCreatePalette();

		paper.project.importSVG(mandala.filePath, function(item) {
			mandala.item = item._children["design-freepik"];
			mandala.item = mandala.item.scale(0.65);
			mandala.item.position.x += 110;
			mandala.item.position.y -= 120;
			the_image = mandala.item;
			paper.project.insertLayer(0,mandala.item);

			if (custom) {
				myCustomInteraction();
			} else {
				myGradientInteraction();
			}

		});
	}

	// set up the mandala interactivity.
	init(true);


	// undo draw 
	function undo_draw() {
		if (my_paths_list.length > 0) {
			let x = my_paths_list.pop();
			let y = x.clone();
			my_redo_list.push(y);
			x.remove();
			y.visible = false;
		}
	}

	// redo draw
	function redo_draw() {
		if (my_redo_list.length > 0) {
			let mypush = my_redo_list.pop();
			mypush.visible = true;
			my_paths_list.push(mypush);
		} 
	}

	// rotates left
	function rotate_Left() {
		the_image = the_image.rotate(330);
		paper.project.insertLayer(0, the_image);
		for (let i = 0; i < my_paths_list.length; i++) {
			single_path = my_paths_list[i].rotate(330);
			paper.project.insertLayer(1, single_path);
		}
	}

	// rotates right
	function rotate_Right() {
		the_image = the_image.rotate(30);
		paper.project.insertLayer(0, the_image);
		for (let i = 0; i < my_paths_list.length; i++) {
			single_path = my_paths_list[i].rotate(30);
			paper.project.insertLayer(1, single_path);
		}
	}

	// enables throwing away tools from quickslot
	function trashcan() {
		var info = document.getElementById('drag_info');
		if (trash_mode === true) {
			trash_mode = false;
			document.getElementById('trash').style.outline = "none";
			info.innerHTML = 'Drag pencil, eraser, or bucket here to save to use';
			info.style.backgroundColor = 'skyblue';
			return trash_mode;
		} else {
			trash_mode = true;
			document.getElementById('trash').style.outline = "5px solid red";
			info.innerHTML = 'Click tool to remove';
			info.style.backgroundColor = 'red';
			return trash_mode;
		}
	}

	// zooms in on canvas
	function zoomIn() {
		the_image = the_image.scale(1.2);

		for (let i = 0; i < my_paths_list.length; i++) {
			my_paths_list[i] = my_paths_list[i].scale(1.2);
		}
		for (let j = 0; j < my_redo_list.length; j++) {
			my_redo_list[j] = my_redo_list[j].scale(1.2);
		}
	}

	// zooms out on canvas
	function zoomOut() {
		the_image = the_image.scale(0.8);

		for (let i = 0; i < my_paths_list.length; i++) {
			my_paths_list[i] = my_paths_list[i].scale(0.8);
		}
		for (let j = 0; j < my_redo_list.length; j++) {
			my_redo_list[j] = my_redo_list[j].scale(0.8);
		}
	}
	
	// highlights the tool you clicked on
	function highlight(u, botTool) {
		if (trash_mode) {
			if (u.classList.contains("can_drag")) {
				$(u).remove();
				numqsTools = numqsTools - 1;
				resize_qs();
			}
			return;
		}

		for (let i = 0; i < bottomTools.length; i++) {
			var t = document.getElementById(bottomTools[i]);
			t.style.outline = "";
		}
		var qs = document.getElementsByClassName("can_drag");
		for (let i = 0; i < qs.length; i++) {
			qs[i].style.outline = "";
		}

		if (botTool === 'drag') {
			if (drag_mode === 'enable') {
				u.style.outline = "5px solid red";
			} else {
				u.style.outline = "";
			}
		} else {
			u.style.outline = "5px solid red";
		}

		cur_Tool = botTool;
		if (botTool === 'pencil' || botTool === 'fill') {
			cur_Color = u.style.color;
		}
		if (botTool !== 'drag' && drag_mode === 'enable') {
			drag_on();
		}
	}


	// initalizes quickslot after page loads
	function init_qs() {
		var t = document.getElementById("pencil");
		h = t.clientWidth;
		w = t.clientWidth;
		var qs_tool = document.getElementById("qs_tools");
		qs_tool.style.height = h + "px";
		qs_tool.style.width = 99 + "px";
		document.getElementById("drag_ui").style.width = 99 + "px";

		var q = document.getElementsByClassName("qs_ui");
		for (let i = 0; i < q.length; i++) {
			q[i].style.width = 99 + "px";
		}
	}

	function showPalette() {
		if ($("#palette_box").is(":visible")) {
			$("#palette_box").hide();
			document.getElementById('palette_view').innerHTML = 'Show Palette';
		} else {
			$("#palette_box").show();
			document.getElementById('palette_view').innerHTML = 'Hide Palette';
		}
	}
	
	// resizes the quickslot when you add or remove items
	function resize_qs() {
		if (numqsTools < 1) {
			numqsTools = 1;
		}
		t = document.getElementById("pencil");
		h = t.clientHeight * numqsTools;
		w = t.clientHeight;
		document.getElementById("qs_tools").style.height = h + "px";
		document.getElementById("drag_ui").style.width = w + "px";
		var q = document.getElementsByClassName("qs_ui");
		for (let i = 0; i < q.length; i++) {

			q[i].style.width = w + "px";
		}
	}

	// enables dragging canvas
	function drag_on() {
		if (drag_mode === 'disable') {
			drag_mode = 'enable';
			$("#myCanvas").draggable(drag_mode);
		} else {
			drag_mode = 'disable';
			$("#myCanvas").draggable(drag_mode);
		}
	}

	// initializes canvas to be draggable
	function drag_init() {
		$("#myCanvas").draggable();
		$("#myCanvas").draggable('disable');
	}
	

	// The other icon functionalities things should be implemented after
	$(document).ready(function() {
		// inits
		$("#expand").hide();
		$("#palette_box").hide();

		// collaspes quick slot ui
		$("#collaspe").click(function() {
			$("#qs_tools").hide();
			$("#expand").show();
			$("#collaspe").hide();
		});

		// expands quickslot ui
		$("#expand").click(function() {
			$("#qs_tools").show();
			$("#expand").hide();
			$("#collaspe").show();
		});

		// allows for dragging quickslot ui
		$("#drag_icon").mousedown(function() {
			$("#drag_ui").draggable({
				revert: "invalid"
			});
		});


		$("#myCanvas").droppable({
			accept: "#drag_ui"
		});

		// allows for dragging tools into the quickslot
		$(".draggable_tool").draggable({
			helper: "clone"
		});

		$(".can_drag").draggable({
			revert: "invalid"
		});

		$("#qs_tools").droppable({
			accept: ".draggable_tool",
			drop: function(event, ui) {
				let toolcopy = $(ui.draggable).clone();
				toolcopy.css('margin-left', '0px');
				toolcopy.css('margin-right', '0px');
				toolcopy.css('outline', 'none');
				toolcopy.addClass("can_drag");

				toolcopy.remove(".draggable_tool");
				toolcopy.find('div').remove();
				toolcopy.append('<br>');
				
				$(this).append(toolcopy);
				numqsTools = numqsTools + 1;
				resize_qs();
			}
		});

		// calls init functions for quickslot and drag ui
		init_qs();
		drag_init();
	});

</script>

</html>
