{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'coloring/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/css/new_interaction.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	
	<style type="text/css">
		/* #color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		} */ 
	</style>

	<!-- <script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				    		// Color pallette keeps track of the full history of colors, though we
				    		// only color in with the most-recent color.
				        hit.item.fillColor = cp.history[cp.history.length - 1];
				    }
				}
			}

			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) {
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }

				});
			}

			// Set up the mandala interactivity.
			init(true);
			}
	</script> -->
</head>
<body>
	<div id="top_ui">  
		<span class="top_ui_tool draggable_tool ui_tool_margin" id="undo" onclick=""> 
			<i class="bi bi-arrow-left"></i> </span>
		
		<span class="top_ui_tool draggable_tool ui_tool_margin" id="redo">
			<i class="bi bi-arrow-right"></i> </span>

		<span class="top_ui_tool draggable_tool ui_tool_margin" id="grid"> 
			<i class="bi bi-grid-3x3"></i> </span>

		<span class="top_ui_tool draggable_tool ui_tool_margin" id="rotate-left"> 
			<i class="bi bi-arrow-counterclockwise"></i> </span>
			
		<span class="top_ui_tool draggable_tool ui_tool_margin" id="rotate-right"> 
			<i class="bi bi-arrow-clockwise"></i> </span>

	</div>

	<canvas id="myCanvas" width="750px" height="750px"></canvas>

	<div id="bottom_ui">  
		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="pencil" onclick="highlight('pencil');"> 
			<i class="bi bi-pencil" id="pencil_icon"></i></span>

		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="erase" onclick="highlight('erase');"> 
			<i class="bi bi-eraser-fill" id="erase_icon"></i></span>

		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="fill" onclick="highlight('fill');"> 
			<i class="bi bi-paint-bucket"></i> </span>

		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="palette" onclick="showPalette();"> 
			<i class="bi bi-palette"></i> </span>

		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="hand"> 
			<i class="fa fa-hand-paper-o" aria-hidden="true"></i> </span>
			
		<span class="bottom_ui_tool draggable_tool ui_tool_margin" id="zoom"> 
			<i class="bi bi-zoom-in"></i></span>
			
	</div>

	<div id="drag_ui" style="overflow:hidden;"> 
		<div class="qs_ui" id="drag_icon" style="height:20px;width:60px;background-color:green"> </div>
		<div class="qs_ui" id="qs_tools" style="height:40px;width:60px;background-color:skyblue"> </div>
		<div class="qs_ui" id="collaspe" style="height:20px;width:60px;background-color:pink"> </div>
		<div class="qs_ui" id="expand" style="height:20px;width:60px;background-color:black"> </div>
	</div>

	<div id="color-palette"></div>
</body>

<script type="text/javascript" canvas="canvas" > 
	// THIS IS FOR THE PAINT-BUCKET
	// Maybe make a "current tool" var that tells you what tool you're on
	// so it can help do the right checks to trigger the right interactions


	// Current color
	var current_Color = 'blue';

	// Tool variable
	var cur_Tool = "pencil";

	// number of tools in quickslot
	var numqsTools = 0;

	var bottomTools = ["pencil", "erase", "fill", "palette", "hand", "zoom"];

	var canvas = document.getElementById('myCanvas');

	// coloring page
	var mandala = {
		item: null,
		lastClicked: null,
		filePath: '/static/coloring/images/mandala-freepik.svg'
	};

	// color palette
	var cp = {
		history: ["#000000"], // black selected by default
		options: [],
		$container: $('#color-palette')
	}

	function myCustomInteraction() {
		var tool = new paper.Tool();
		var myPath = new paper.Path();
		myPath.strokeColor = 'black'; // create var cur_color

		// If mouse drag and have pencil we can draw
		tool.onMouseDrag = function (event) {
			if (cur_Tool === "pencil") {
				myPath.add(event.point);
			}

			if (cur_Tool === "erase") {
				var myCircle = new paper.Path.Circle({
					center: event.point,
					radius: 3
				});
				myCircle.fillColor = 'white';
				myPath.add(myCircle);
			}
		}

		// If mouse click and have fill we can draw
		tool.onMouseDown = function (event) {
			if (cur_Tool === "fill") {
				var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				if (hit) {
						// Color pallette keeps track of the full history of colors, though we
						// only color in with the most-recent color.
					hit.item.fillColor = cp.history[cp.history.length - 1];
				}
			}
		}
	}

	// create a color palette with the given colors
	function createColorPalette(colors){

		// create a swatch for each color
		for (var i = colors.length - 1; i >= 0; i--) {
			var $swatch = $("<div>").css("background-color", colors[i])
							.addClass("swatch");
			$swatch.click(function(){
				// add color to the color palette history
				cp.history.push($(this).css("background-color"));
			});
			cp.$container.append($swatch);
		}
	}

	// loads a set of colors from a json to create a color palette
	function getColorsCreatePalette(){
		cp.$container.html(" ");
		$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
			var keys = Object.keys(colors);
			for (var i = keys.length - 1; i >= 0; i--) {
				cp.options.push(colors[keys[i]][500]);
			}
			createColorPalette(cp.options);
		});
	}

	function init(custom){
		paper.setup(canvas);
		getColorsCreatePalette();

		paper.project.importSVG(mandala.filePath, function(item) {
			mandala.item = item._children["design-freepik"];
			paper.project.insertLayer(0,mandala.item);

			if (custom) {
				myCustomInteraction();
			} else {
				myGradientInteraction();
			}

		});
	}

	// Set up the mandala interactivity.
	init(true);




	// highlights the tool you clicked on
	function highlight(botTool) {
		var selTool = document.getElementById(botTool);
		selTool.style.outline = "5px solid red";
		for (let i = 0; i < bottomTools.length; i++) {
			if (bottomTools[i] !== botTool) {
				var t = document.getElementById(bottomTools[i]);
				t.style.outline = "";
			}
		}

		cur_Tool = botTool;
	}
			


	/////////////// Click coloring /////////////////
	$("#pencil").click(function() {
		myTool = document.getElementById("pencil");
		$("#pencil_icon").css('color', current_Color);
	});
		
	$("#fill").click(function() {
		myTool = document.getElementById("pencil");
		$("#fill").css('color', current_Color);
	});		
	// Pencil interaction
	// IFF pencil and drag do this, so maybe differentiate the pencils when adding on to it 
	// in the quickbar UI taskbar

	// function pencilInteraction() {
	// 	var myPath;
	// 	function onMouseDown(event) {
	// 		myPath = new Path();
	// 		myPath.strokeColor = $(myTool).color;
	// 	}

	// 	function onMouseDrag(event) {
	// 		myPath.add(event.point);
	// 	}
	// }
	

	/////////////// ERASER /////////////////
	// The way I did the erase was that it's just a tool to add a bunch of white circles
	// when dragged


	// Eraser interaction
	function eraserInteraction() {
		function onMouseDrag(event) {
			var circle = new Path.Circle({
			center: event.middlePoint,
			radius: event.delta.length / 2
			});
		circle.fillColor = 'white';
		}																	
	}


	// for drag ui, drag in to add, drag out to remove, click to use	
	// the code steps are as follows:
	// 1) get the exact instance of the object you want (ex: green pen)
	// 2) we drag that to the toolbar and drop it, so let the items be dragable and dropable
	// 3) append that exact object the the toolbar div
	// 4) delete from the toolbar if object is dragged and dropped out of toolbar

	//remove things from the toolbar


	function drag_ui_remove () {
		$("#qs_tools").delete("[the item you want to delete]")
	}



	// initalizes quickslot after page loads
	function init_qs() {
		var t = document.getElementById("pencil");
		var h = t.clientHeight;
		var w = t.clientWidth;

		document.getElementById("qs_tools").style.height = h + "px";
		document.getElementById("qs_tools").style.width = w + "px";

		var q = document.getElementsByClassName("qs_ui")
		for (let i = 0; i < q.length; i++) {
			q[i].style.width = w + "px";
		}
	}

	$("#color-palette").hide();
	function showPalette() {
		if ($("#color-palette").is(":visible")) {
			$("#color-palette").hide();
		} else {
			$("#color-palette").show();
		}
	}

	// collaspes quick slot ui



	
	// resizes the quickslot when you add or remove items
	function resize_qs() {
		t = document.getElementById("pencil");
		h = t.clientHeight * numqsTools;
		document.getElementById("qs_tools").style.height = h + "px";
	}

	

	// The other icon functionalities things should be implemented after
	$(document).ready(function() {
		// inits
		$("#expand").hide();
		init_qs();

		// collaspes quick slot ui
		$("#collaspe").click(function() {
			$("#qs_tools").hide();
			$("#expand").show();
			$("#collaspe").hide();
		});

		// expands quickslot ui
		$("#expand").click(function() {
			$("#qs_tools").show();
			$("#expand").hide();
			$("#collaspe").show();
		});

		// allows for dragging quickslot ui
		$("#drag_ui").draggable({
			revert: "invalid"
		});


		// Can't figure out how to drag out the tools individually
		// $(document.querySelectorAll("#qs_tools")).draggable({
		// 	revert: "invalid"
		// });



		$("#myCanvas").droppable({
			accept: "#drag_ui"
		});

		// allows for dragging tools into the quickslot
		$(".draggable_tool").draggable({
			helper: "clone"
		});

		$("#qs_tools").droppable({
			accept: ".draggable_tool",
			drop: function(event, ui) {
				let toolcopy = $(ui.draggable).clone();
				toolcopy.css('margin-left', '0px');
				toolcopy.css('margin-right', '0px');
				toolcopy.css('outline', 'none');
				toolcopy.addClass("can_drag");

				$(".can_drag").draggable({
					revert: "invalid"
				});

				toolcopy.remove(".draggable_tool");

				console.log(toolcopy.classname)
				$(this).append(toolcopy);
				numqsTools = numqsTools + 1;
				resize_qs();
			}
		});


		
	});



</script>

</html>
