/* New interactions CSS  */

html, body {
    height: 100%; 
    width: 100%; 
    margin: 0; 
}

/* IDs */
#top_ui {
    height: 20%;
    outline-width: 5px;
    outline-color: black;
    outline-style: solid;
    background-color: green;
}

#bottom_ui {
    height: 20%;
    outline-width: 5px;
    outline-color: black;
    outline-style: solid;
    background-color: green;
}

#undo {

}

#redo {

}

#grid {

}

#rotate-left {

}

#rotate-right {

}

#pen {

}

#erase {

}

#fill {

}

#palette {

}

#hand {

}

#zoom {

}

/* Classes */
.top_ui_tool {
    width: 10%;
    height: 10%;
    background-color: pink;
}

.bottom_ui_tool {

}