/* New interactions CSS  */

html, body {
    height: 100%; 
    width: 100%; 
    margin: 0; 
}

/* IDs */
#myCanvas {
    height: 70%;
    width: 100%; 
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#drag_ui {
    position: absolute;
    top: 30%;
    left: 0%;
    background-color: red;
}


#top_ui {
    height: 15%;
    width: 100%; 
    outline-width: 5px;
    outline-color: black;
    outline-style: solid;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bottom_ui {
    height: 15%;
    width: 100%; 
    outline-width: 5px;
    outline-color: black;
    outline-style: solid;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#undo {

}

#redo {

}

#grid {

}

#rotate-left {

}

#rotate-right {

}

#pencil {

}

#erase {

}

#fill {

}

#palette {

}

#hand {

}

#zoom {

}

/* Classes */
.top_ui_tool {
    font-size: 70px;
    
    /* temp */
    outline-width: 1px;
    outline-color: black;
    outline-style: solid;
}

.bottom_ui_tool {
    font-size: 70px;

    /* temp 
    outline-width: 5px;
    outline-color: black;
    outline-style: solid; */
}

.ui_tool_margin {
    margin-left: 50px;
    margin-right: 50px;
}
